<div
  class="wrapper"
  [attr.width]="width + 'px'"
  [attr.height]="height + 'px'"
>
  <svg
    [attr.width]="width + 'px'"
    [attr.height]="height + 'px'"
  >
    <ng-container *ngFor="let line of lines">
      <line
        [attr.x1]="line.x1"
        [attr.y1]="line.y1"
        [attr.x2]="line.x2"
        [attr.y2]="line.y2"
        stroke="#000"
        stroke-width="1"
      />

      <polygon
        *ngIf="line.hasArrow"
        [attr.points]="getLineArrowPoints(line)"
      />
    </ng-container>
  </svg>
</div>