@import url('../gantt.component.scss');

.gantt-timeline {
  background-color: #fff;
}

.timeline-header {
  overflow: scroll;

  &::-webkit-scrollbar {
    opacity: 0;
    height: 0;
    background: rgba(0, 0, 0, 0);
  }
}

tbody tr td {
  border-left: none;
  padding-left: 0;
  padding-right: 0;
}

table:first-child {
  tr, td, th {
    border-left: none;
  }
}

.main-tables {
  position: relative;
  user-select: none;
  overflow-y: scroll;
  overflow-x: scroll;
  height: 500px;

  .main-table {
    width: 100%;

    table {
      width: inherit;
    }

    &:first-child {
      position: absolute;

      tr:first-child, td:first-child {
        border-top: none;
      }
    }

    &:last-child {
      tr, td {
        border: none;
        background: none;
        width: max-content;
      }
    }
  }
}

.content {
  position: relative;
}