.gantt-timeline {
  background-color: #fff;
  width: max-content;
}

tbody tr td {
  border-left: none;
  padding-left: 0;
  padding-right: 0;
}

table:first-child {
  tr, td, th {
    border-left: none;
  }
}

.main-tables {
  position: relative;
  user-select: none;

  .main-table {
    width: 100%;
    height: inherit;

    table {
      width: inherit;
    }

    &:first-child {
      position: absolute;

      tr:first-child, td:first-child {
        border-top: none;
      }
    }

    &:last-child {
      tr, td {
        border: none;
        background: none;
        width: max-content;
      }
    }
  }
}