<div [style.width]="width + 'px'" class="gantt-timeline">
  <div (click)="selectRow(null)" #header class="timeline-header">
    <table>
      <thead>
        <tr rowHeight>
          <td
            *ngFor="let part of periodParts"
            [attr.colspan]="service.colspanForHeader(period, part.main)"
            nowrap
          >
            <ng-container [ngSwitch]="period">
              <span *ngSwitchCase="'Day'">{{ part.main | date:"MMMM, cccc, dd" }}</span>
              <span *ngSwitchCase="'Week'">{{ part.main | date:"MMMM dd" }} – {{ service.weekEnd(part.main) | date:"MMMM dd" }}</span>
              <span *ngSwitchCase="'Month'">{{ part.main | date:"MMMM YYYY" }}</span>
            </ng-container>
          </td>
        </tr>
        <tr rowHeight>
          <ng-container *ngFor="let part of periodParts">
            <td
              *ngFor="let detail of part.detail"
              [attr.colspan]="service.colspanForDetail(period, detail)"
              nowrap
            >
              <ng-container [ngSwitch]="period">
                <span *ngSwitchCase="'Day'">{{ detail | date:"HH:mm" }}</span>
                <span *ngSwitchCase="'Week'">{{ detail | date:"ccc, dd.MM" }}</span>
                <span *ngSwitchCase="'Month'">{{ detail | date:"dd" }} – {{ service.addWeekForMonth(detail) | date:"dd" }}</span>
              </ng-container>
            </td>
          </ng-container>
        </tr>
      </thead>
    </table>
  </div>

  <div class="content">
    <div #mainTable [style.height]="contentHeight + 'px'" class="main-tables">
      <div class="main-table">
        <table>
          <tbody>
            <ng-template #recursiveTemplate1 let-tasks let-level="level">
              <ng-container *ngFor="let taskRow of tasks; index as idx">
                <tr
                  rowHeight
                  (click)="selectRow(taskRow)"
                  [class.active-row]="activeRow === taskRow"
                >
                <ng-container *ngFor="let part of periodParts">
                  <td
                    *ngFor="let detail of part.detail"
                    nowrap
                  >&nbsp;</td>
                </ng-container>
                </tr>
                 <ng-container *ngIf="taskRow.childs && taskRow.opened">
                   <ng-container *ngTemplateOutlet="recursiveTemplate1; context: {$implicit: taskRow.childs}">
                   </ng-container>
                 </ng-container>
               </ng-container>
             </ng-template>
  
             <ng-container *ngTemplateOutlet="recursiveTemplate1; context: {$implicit: tasksRows}">
             </ng-container>
          </tbody>
        </table>
      </div>

      <div class="main-table">
        <table #tasksProgressTable>
          <tbody>
            <ng-template #recursiveTemplate2 let-tasks>
              <ng-container *ngFor="let taskRow of tasks">
                <tr rowHeight>
                  <td>
                    <gantt-task-progress
                      [data]="getTaskProgressData(taskRow)"
                      (click)="selectRow(taskRow)"
                      (dataChanged)="taskProgressDataChanged($event)"
                    ></gantt-task-progress>
                  </td>
                </tr>
                 <ng-container *ngIf="taskRow.childs && taskRow.opened">
                   <ng-container *ngTemplateOutlet="recursiveTemplate2; context: {$implicit: taskRow.childs}">
                   </ng-container>
                 </ng-container>
               </ng-container>
             </ng-template>
  
             <ng-container *ngTemplateOutlet="recursiveTemplate2; context: {$implicit: tasksRows}">
             </ng-container>
          </tbody>
        </table>

        <!-- <gantt-dependencies
          class="dependencies"
          *ngIf="showDependencies"
          [data]="getDependenciesData()"
          [width]="getMainTableWidth()"
          [height]="getMainTableHeight()"
        ></gantt-dependencies> -->
      </div>
    </div>
  </div>
</div>