<div #tasksContainer class="gantt-tasks">
  <div class="tables">
    <div (click)="selectRow(null)" class="tasks-header">
      <table>
        <colgroup>
          <col style="width: 260px;">
          <col style="width: 160px;">
          <col style="width: 160px;">
          <col style="width: 110px;">
        </colgroup>
        <thead>
          <tr rowHeight>
            <td nowrap rowspan="2">Tasks</td>
            <td nowrap rowspan="2">Actual start date</td>
            <td nowrap rowspan="2">Actual end date</td>
            <td nowrap rowspan="2">% Complete</td>
          </tr>
          <tr rowHeight></tr>
        </thead>
      </table>
    </div>

    <div #table [style.height]="contentHeight + 'px'" class="tasks-content">
      <table>
        <colgroup>
          <col style="width: 260px;">
          <col style="width: 160px;">
          <col style="width: 160px;">
          <col style="width: 110px;">
        </colgroup>
        <tbody>
          <ng-template #recursiveTemplate let-tasks let-level="level">
            <ng-container *ngFor="let taskRow of tasks; index as idx">
              <tr
                rowHeight
                (click)="selectRow(taskRow)"
                [class.active-row]="activeRow === taskRow"
              >
                <td nowrap>
                  <div [ngStyle]="{ 'margin-left': 12 * level + 'px' }">
                    <span
                      class="open-close-icon"
                      (click)="rowOpenCloseClicked(taskRow)"
                    >{{ getRowOpenSymbol(taskRow) }}</span>
                    <span>{{ taskRow.task.name }}</span>
                  </div>
                </td>
                <td class="date-td" (click)="dateClick(taskRow.task.startDate)" nowrap>{{ taskRow.task.startDate | date:'dd.MM.YYYY, HH:mm' }}</td>
                <td class="date-td" (click)="dateClick(taskRow.task.endDate)" nowrap>{{ taskRow.task.endDate | date:'dd.MM.YYYY, HH:mm' }}</td>
                <td nowrap>{{ taskRow.task.readyPercent }}</td>
              </tr>
               <ng-container *ngIf="taskRow.childs && taskRow.opened">
                 <ng-container *ngTemplateOutlet="recursiveTemplate; context: {$implicit: taskRow.childs, level: level + 1}">
                 </ng-container>
               </ng-container>
             </ng-container>
           </ng-template>

           <ng-container *ngTemplateOutlet="recursiveTemplate; context: {$implicit: tasksRows, level: 0}">
           </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</div>