@import url("../gantt.component.scss");

.gantt-tasks {
  background-color: #fff;
  width: max-content;
  display: flex;
}

.tasks-content {
  height: 500px;
  overflow: scroll;

  &::-webkit-scrollbar {
    opacity: 0;
    width: 0;
    background: rgba(0, 0, 0, 0);
  }
}

.tasks-content table {
  tr, td, th {
    border-top: none;
  }
}

.date-td {
  user-select: none;
  cursor: pointer;
}

.edit-icon {
  margin-right: 10px;
  cursor: pointer;
  user-select: none;
}

.open-close-icon {
  display: inline-block;
  width: 16px;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
}

.name-container {
  display: flex;
  align-items: center;
}