.gantt-tasks {
  background-color: #fff;
  width: max-content;
  display: flex;
}

.tasks-content {
  height: 500px;
  overflow: scroll;
}

.tasks-content table {
  tr, td, th {
    border-top: none;
  }
}