<div #tasksContainer class="gantt-tasks">
  <div class="tables">
    <div class="tasks-header">
      <table>
        <colgroup>
          <col style="width: 260px;">
          <col style="width: 160px;">
          <col style="width: 160px;">
          <col style="width: 110px;">
        </colgroup>
        <thead>
          <tr>
            <td rowspan="2">Tasks</td>
            <td rowspan="2">Actual start date</td>
            <td rowspan="2">Actual end date</td>
            <td rowspan="2">% Complete</td>
          </tr>
          <tr></tr>
        </thead>
      </table>
    </div>
  
    <div class="tasks-content">
      <table>
        <colgroup>
          <col style="width: 260px;">
          <col style="width: 160px;">
          <col style="width: 160px;">
          <col style="width: 110px;">
        </colgroup>
        <tbody>
          <tr *ngFor="let task of tasks">
            <td>{{ task.name }}</td>
            <td>{{ task.startDate | date:'dd.MM.YYYY, HH:mm' }}</td>
            <td>{{ task.endDate | date:'dd.MM.YYYY, HH:mm' }}</td>
            <td>{{ task.readyPercent }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>