<div class="modal">
  <div class="top top-bottom">
    <span class="header-text">Remove task</span>
  </div>

  <div class="content">
    <span class="content-text">
      Are you sure you want to delete this task?<br>
      All its subtasks will be deleted along with it!
    </span>
  </div>

  <div class="bottom top-bottom">
    <ng-container *ngIf="canDelete; else deleteImpossible">
      <button (click)="noClick($event)" class="btn btn-delete">No</button>
      <button (click)="yesClick($event)" class="btn btn-save">Yes</button>
    </ng-container>

    <ng-template #deleteImpossible>
      <button (click)="okClick($event)" class="btn btn-save">Ok</button>
    </ng-template>
  </div>
</div>