.task-container {
  height: 10px;
  position: relative;
  top: 0;
  left: 0;
  background-color: #cbcbcb;
  transition: all 0.15s;
  opacity: 0.85;

  .task-progress {
    width: 50%;
    height: inherit;
  }

  &, .task-progress {
    border-radius: 2px;
  }

  &:hover {
    opacity: 1;
  }
}
