.task-container {
  height: 12px;
  position: relative;
  top: 0;
  left: 0;
  background-color: #cbcbcb;

  .task-progress {
    width: 50%;
    height: inherit;
  }

  &, .task-progress {
    border-radius: 2px;
  }
}
