.gantt-content {
  display: flex;
  overflow: hidden;
  position: relative;
}

.active-row {
  background: #ffe46cf3;
}

.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5000;
  background-color: rgba(128, 128, 128, 0.6);
}

.edit-modal-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.tasks-empty {
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translate(-50%, -50%);
  font-size: 48px;
}

.control-panel {
  display: flex;
  margin-bottom: 12px;
}

.create-btn {
  padding: 6px;
  border: 1px solid #a5a5a5;
  background: #d6d6d6;
  margin-left: 12px;
  border-radius: 3px;

  &:not(.btn-disabled) {
    cursor: pointer;
  }

  transition: all 0.15s;
  font-size: 14px;

  &:hover:not(.header-btn-active, .btn-disabled) {
    background-color: #b1adad;
  }

  &:hover:is(.header-btn-active) {
    cursor: default;
  }
}