<div class="control-panel">
  <gantt-periods
    [disabled]="modalOpened"
    (periodChange)="periodChange($event)">
  </gantt-periods>

  <button
    class="create-btn"
    (click)="createTaskClicked($event)"
    [disabled]="modalOpened"
    [class.btn-disabled]="modalOpened"
  >New task</button>
</div>

<div #mainRef class="gantt-content" (click)="modalOpened = false">
  <div #tasksRef>
    <gantt-tasks
      [contentHeight]="contentHeight"
      [tasksRows]="tasksRows"
      [scrollTop]="tasksScrollTop"
      [activeRow]="activeRow"
      (onScroll)="tasksOnScroll($event)"
      (rowChanged)="changeRow($event)"
      (dateClicked)="tasksDateClick($event)"
      (openCloseClicked)="openCloseClicked($event)"
      (editTaskClicked)="editTaskClicked($event)"
    ></gantt-tasks>
  </div>
  
  <div #timelineRef>
    <gantt-timeline
      [contentHeight]="contentHeight"
      [width]="timelineWidth"
      [tasksRows]="visibleRows"
      [dependencies]="dependencies"
      [scrollTop]="timelineScrollTop"
      [activeRow]="activeRow"
      [period]="period"
      [selectedDate]="selectedDate"
      (onScroll)="timelineOnScroll($event)"
      (rowChanged)="changeRow($event)"
      (editTaskClicked)="editTaskClicked($event)"
    ></gantt-timeline>
  </div>
  
  <div *ngIf="modalOpened" class="modal-overlay">
    <div (click)="modalClicked($event)" class="edit-modal-container">
      <gantt-task-modal
        [createMode]="createMode"
        [editData]="editModalData"
        [createData]="tasks"
        (closeClicked)="modalCloseClicked($event)"
        (deleteClicked)="modalDeleteClicked($event)"
        (saveClicked)="modalSaveClicked($event)"
        (createClicked)="modalCreateClicked($event)"
        (cancelClicked)="modalCancelClicked($event)"
        (taskDelete)="modalDeleteTask()"
      ></gantt-task-modal>
    </div>
  </div>

  <div *ngIf="tasks.length === 0" class="tasks-empty">
    <span>There is not a single task!</span>
  </div>
</div>