<gantt-periods (periodChange)="periodChange($event)"></gantt-periods>

<div #mainRef class="gantt-content">
  <div #tasksRef>
    <gantt-tasks
      [contentHeight]="contentHeight"
      [tasksRows]="tasksRows"
      [scrollTop]="tasksScrollTop"
      [activeRow]="activeRow"
      (onScroll)="tasksOnScroll($event)"
      (rowChanged)="changeRow($event)"
      (dateClicked)="tasksDateClick($event)"
    ></gantt-tasks>
  </div>

  <div #timelineRef>
    <gantt-timeline
      [contentHeight]="contentHeight"
      [width]="timelineWidth"
      [tasks]="tasks"
      [dependencies]="dependencies"
      [scrollTop]="timelineScrollTop"
      [period]="period"
      [selectedDate]="selectedDate"
      (onScroll)="timelineOnScroll($event)"
    ></gantt-timeline>
<!-- 
    [activeRowID]="activeRowID"
    (rowChanged)="changeRow($event)" -->
  </div>
</div>