<gantt-periods (periodChange)="periodChange($event)"></gantt-periods>

<div #mainRef class="gantt-content">
  <div #tasksRef>
    <gantt-tasks
      [contentHeight]="contentHeight"
      [tasks]="tasks"
      [scrollTop]="tasksScrollTop"
      (onScroll)="tasksOnScroll($event)"
    ></gantt-tasks>
  </div>

  <div #timelineRef>
    <gantt-timeline
      [contentHeight]="contentHeight"
      [width]="timelineWidth"
      [tasks]="tasks"
      [scrollTop]="timelineScrollTop"
      [period]="period"
      (onScroll)="timelineOnScroll($event)"
    ></gantt-timeline>
  </div>
</div>