<div class="modal">
  <div class="top-bottom">
    <span class="header-text">Edit task</span>
    <span (click)="closeClick($event)" class="header-text">✕</span>
  </div>

  <div class="content">
    <form [formGroup]="form">
      <div class="input-group">
        <label>Task name</label>
        <input formControlName="name" type="text">
      </div>

      <div class="input-group">
        <label>Start date</label>
        <input formControlName="startDate" type="date">

        <select>
          <option>0:00</option>
        </select>
      </div>

      <div class="input-group">
        <label>End date</label>
        <input formControlName="endDate" type="date">

        <select>
          <option>0:00</option>
        </select>
      </div>

      <div class="input-group">
        <label>Complete percent</label>
        <input formControlName="readyPercent" type="number">
      </div>
    </form>
  </div>

  <div class="top-bottom">
    <button (click)="deleteClick($event)" class="btn btn-delete">Delete ✕</button>

    <div>
      <button [disabled]="form.invalid" (click)="saveClick($event)" class="btn btn-save">Save ✓</button>
      <button (click)="cancelClick($event)" class="btn">Cancel</button>
    </div>
  </div>
</div>