<div class="modal">
  <div class="top-bottom">
    <span class="header-text">Edit task</span>
    <span (click)="closeClick($event)" class="header-text">✕</span>
  </div>

  <div class="content">
    <form [formGroup]="form">
      <div class="input-group">
        <label>Task name</label>
        <div>
          <input
            formControlName="name"
            type="text"
            [class.input-invalid]="form.controls.name.invalid"
          >
          <div class="validator-box">
            <span *ngIf="form.controls.name.invalid">Fill in this field!</span>
          </div>
        </div>
      </div>

      <div class="input-group">
        <label>Start date</label>
        <div>
          <input
            formControlName="startDate"
            type="datetime-local"
            [class.input-invalid]="form.controls.startDate.invalid"
          >
          <div class="validator-box">
            <span *ngIf="form.controls.startDate.invalid">{{ form.controls.startDate.errors!.error! }}</span>
          </div>
        </div>
      </div>

      <div class="input-group">
        <label>End date</label>
        <div>
          <input
            (change)="checkStartDateValidation()"
            formControlName="endDate"
            type="datetime-local"
          >
          <div class="validator-box">
            <span></span>
          </div>
        </div>
      </div>

      <div class="input-group">
        <label>Complete percent</label>
        <div>
          <input
            formControlName="readyPercent"
            type="number"
            [class.input-invalid]="form.controls.readyPercent.invalid"
          >
          <div class="validator-box">
            <span *ngIf="form.controls.readyPercent.invalid">Valid values are from 0 to 100!</span>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="top-bottom">
    <button
      (click)="deleteClick($event)"
      class="btn btn-delete"
    >Delete</button>

    <div>
      <button
        [disabled]="form.invalid"
        (click)="saveClick($event)"
        class="btn btn-save"
        [class.btn-disabled]="form.invalid"
      >Save</button>
      <button (click)="cancelClick($event)" class="btn">Cancel</button>
    </div>
  </div>
</div>